[submodule "thirdparty/cpputest"]
	path = thirdparty/cpputest
	url = https://github.com/cpputest/cpputest.git
[submodule "avdecc-lib"]
	path = avdecc-lib
	url = https://github.com/AVnu/avdecc-lib.git
[submodule "lib/igb_avb"]
	path = lib/igb_avb
	url = https://github.com/AVnu/igb_avb.git
[submodule "lib/atl_avb"]
	path = lib/atl_avb
	url = https://github.com/zarfld/atl_avb.git
[submodule "lib/la_avdecc"]
	path = lib/la_avdecc
	url = https://github.com/L-Acoustics/avdecc.git
[submodule "thirdparty/open1722"]
	path = thirdparty/open1722
	url = https://github.com/COVESA/Open1722.git
[submodule "thirdparty/gptp"]
	path = thirdparty/gptp
	url = https://github.com/zarfld/gptp.git
[submodule "thirdparty/intel-ethernet-hal"]
	path = thirdparty/intel-ethernet-hal
	url = https://github.com/zarfld/intel-ethernet-hal.git
[submodule "lib/intel_avb"]
	path = lib/intel_avb
	url = https://github.com/zarfld/intel_avb.git
