[submodule "thirdparty/cpputest"]
	path = thirdparty/cpputest
	url = ../../AVnu/cpputest.git
[submodule "avdecc-lib"]
	path = avdecc-lib
	url = ../../AVnu/avdecc-lib
[submodule "lib/igb_avb"]
	path = lib/igb_avb
	url = https://github.com/AVnu/igb_avb.git
[submodule "lib/atl_avb"]
	path = lib/atl_avb
	url = https://github.com/Aquantia/atl_avb
[submodule "lib/la_avdecc"]
	path = lib/la_avdecc
	url = https://github.com/L-Acoustics/avdecc.git
